/* Your code here */
* {
    box-sizing: border-box;
    transition: all 0.3s;
}

body {
    display: grid;
    place-items: center;
    gap: 1rem;
}

:root {
    --cell-width-height: 176px;
    --primary-bg-color: #000;
}

.heading {
    font-size: 3rem;
    color: var(--primary-bg-color);
}

.game-container,
.cell {
    display: grid;
}

.game-container {
    grid-template-columns: repeat(3, auto);
    /* grid-gap: 1rem; */
}

/* Cells */
.cell {
    place-items: center;
    font-size: 2rem;
    width: var(--cell-width-height);
    height: var(--cell-width-height);
    border: 3px solid var(--primary-bg-color);
}

#square-0 {
    border-top: none;
    border-left: none;
}

#square-1 {
    border-top: none;
}

#square-2 {
    border-top: none;
    border-right: none;
}

#square-3 {
    border-left: none;
}

#square-5 {
    border-right: none;
}

#square-6 {
    border-bottom: none;
    border-left: none;
}

#square-7 {
    border-bottom: none;
}

#square-8 {
    border-bottom: none;
    border-right: none;
}

/* Game Controls */
.controls {
    display: flex;
    width: calc(var(--cell-width-height) * 2.9);
    justify-content: space-between;
}

button {
    font-size: 2rem;
    color: var(--primary-bg-color)
}

/* SVG */
svg,
img {
    width: var(--cell-width-height);
    height: var(--cell-width-height);
}
